<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Meu primeiro deploy - DEVOPS - erro</div>
	
	<div class="container">
		<div class="logo">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			<p class="keep-studying">Teste com erro no Deploy</p>
	</div>
</div>
</body>

</html>
